*{
   box-sizing:border-box;
}
.section1{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}
.nav{


  padding: 50px;
  color: blue;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  font-family: Arial,sans-serif;
  

}
.content{
  max-width: 95%;
 
  font-family: Karla, sans-serif;
 
  font-size: 30px;
  margin-top: 10%;
  margin-left: 15%;
  
  background: linear-gradient(90deg, rgba(17,46,226,1) 0%, rgba(86,171,100,1) 47%, rgba(21,21,115,1) 100%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

}
.item{


  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  position: relative;
  margin-top: 80px;
  padding: 0%;
  font-family:   Karla;
  font-size: 20px;



}
.item1{
 

  width: 172px;
  position: absolute;
  left: 44%;
  
  

  
}
.item2{
 font-family:  Karla;
  width: 165px;
  height: 130px;
  position: absolute;
  left: 60%;
 

  

}

.item3{
  
  width:175px;
  height: 100px;
  position: absolute;
  left: 75%;
  

  
 


}
.item1a{
  width: 172px;
  position: absolute;
  margin-top: 10%;
  left: 44%;
 

}
img{
  
  width: 600px;
  height: 400px;
  margin-top: 20%;
  position: absolute;
  left: 44%;
  

}
.section2{ 
  margin-top: 55%;
  margin-left: 44%;
  font-family:   Karla;

}
.text{
 
  color: blue;
  font-family:   Karla;
  
  font-size: 40px;
 
}
.input{
  width: 700px;
  height: 50px;
  font-family:   Karla;


}
.description{
  width: 700px;
  height: 100px;
}
button{
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 80%;
}

